<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBook Records</title>
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!--CSS STYLESHEET-->
    <link rel="stylesheet" href="/css/admin_book_records.css">
</head>

<body>
    <!--EBOOK RECORD HEADER SECTION-->
    <div class="header-hero-container">
        <div class="admin_book-record-heading-container">
            <h1 id="admin_book-records-main-heading">EBOOK RECORDS</h1>
        </div>
        <div style="display: flex; justify-content: center;">
            <hr
                style="width: 15%; margin: auto; margin-top: 10px; border: 1px solid #9BA4B5; border-radius: 30px; opacity: 1;">
        </div>
        <form onsubmit="return searching()">
            <div class="search_field-main-container">
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="title" id='title' class="search_form-input-field"
                        placeholder="Search by Title" autocomplete="off">
                </div>
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="author" id='author' class="search_form-input-field"
                        placeholder="Search by Author" autocomplete="off">
                </div>
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="category" id='category' class="search_form-input-field"
                        placeholder="Search by Category" autocomplete="off">
                </div>
            </div>
            <div class="search_btn-container">
                <input type="submit" value="Search" class="search_btn">
                <button type="button" class="search_btn" id="staffinfo" data-bs-toggle="modal"
                    data-bs-target="#AddStaffModal" onclick="add_record()">Add Ebook</button>
            </div>
        </form>
    </div>

    <!--EBOOK RECORD TABLE SECTION-->
    <div class="staff_table-container">
        <table width="100%" style="border-collapse: collapse;">
            <tr style="background: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121)); transition: none; 
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
                <th>Publisher ID</th>
                <th>Publisher</th>
                <th>Publication Year</th>
                <th>File Size(MB)</th>
                <th>File Format</th>
                <th colspan="2">Actions</th>
            </tr>
            <% if(book.length> 0 ){ %>
                <% for(var i=0; i < book.length;i++){ %>
                    <tr class="records" style="transition: 0.3s all ease-in-out;">
                        <td><%- book[i].isbn%></td>
                        <td><%- book[i].title%></td>
                        <td><%- book[i].author%></td>
                        <td><%- book[i].category%></td>
                        <td><%- book[i].price%></td>
                        <td><%- book[i].publisher_id%></td>
                        <td><%- book[i].publisher%></td>
                        <td><%- book[i].year%></td>
                        <td><%- book[i].file_size%></td>
                        <td><%- book[i].file_format%></td>
                        <td>
                            <a id="update_delete-links" data-bs-toggle='modal' data-bs-target='#updateModal'
                                onclick="update_record(this,  '<%= book[i].isbn %>')">
                                Update</a>
                        </td>

                        <td>
                            <a id="update_delete-links"
                                onclick="delete_record(this, '<%= book[i].isbn %>', '<%= book[i].title %>', '<%= book[i].publisher_id %>')">Delete</a>
                        </td>
                    </tr>
                    <%}%>
                        <%}else{ %>
                            <tr class="records" style="transition: 0.3s all ease-in-out;">
                                <td colspan="11">Data not found</td>
                            </tr>

                            <% } %>
        </table>
    </div>

    <!--ADD EBOOK MODAL-->
    <div class="modal" id="AddStaffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl" style="width: 48%;">
            <div class="modal-content" style="border-radius: 30px;">
                <div class="modal-header">
                    <h2 class="modal-title" id="ModalTitle">ADD EBOOK</h2>
                </div>
                <div class="modal-body">
                    <div class="modal_form-content-container" style="margin-top: 12px;">
                        <form action="/addebook" method="post">
                            <div class="add-book-modal-row">
                                <div class="form__group">
                                    <input type="text" class="form__field" placeholder="Book Title" id="title" name="title" autocomplete="off" required>
                                    <label for="name" class="form__label"> Book Title </label>
                                </div>
                                
                                <div class="form__group">
                                    <input type="text" class="form__field" placeholder="Book Title" id="author" name="author" autocomplete="off" required>
                                    <label for="name" class="form__label"> Author Name </label>
                                </div>
                            </div>

                            <div class="add-book-modal-row">
                                <div class="form__group">
                                    <input type="text" class="form__field" placeholder="ISBN Number" id="isbn" name="isbn" autocomplete="off" required>
                                    <label for="name" class="form__label"> ISBN </label>
                                </div>

                                <div class="form__group">
                                    <input type="text" class="form__field" placeholder="Category" id="category" name="category" autocomplete="off" required>
                                    <label for="name" class="form__label"> Category </label>
                                </div>
                            </div>

                            <div class="add-book-modal-row">
                                <div class="form__group">
                                    <input type="text" class="form__field" placeholder="Publisher Name" id="publisher" name="publisher" autocomplete="off" required>
                                    <label for="name" class="form__label"> Publisher Name </label>
                                </div>

                                <div class="form__group">
                                    <input type="number" class="form__field" placeholder="Pulication Year" id="year" name="year" autocomplete="off" required>
                                    <label for="name" class="form__label"> Publication Year </label>
                                </div>
                            </div>
                            
                            <div class="add-book-modal-row">
                                <div class="form__group">
                                    <input type="text" class="form__field"  placeholder="File Size(MBs)" id="filesize" name="filesize" autocomplete="off" required >
                                    <label for="name" class="form__label"> File Size(MBs) </label>
                                </div>

                                <div class="form__group">
                                    <select class="form__field" id="fileformat" name="fileformat" required >
                                        <option value="">Choose File Format</option>
                                        <option value="PDF">PDF</option>
                                        <option value="DOCX">DOCX</option>
                                    </select>
                                    <label for="fileformat" class="form__label"> File Format </label>
                                </div>  
                            </div>
                            
                            <div class="add-book-modal-row">
                                <div class="form__group">
                                    <input type="number" class="form__field" placeholder="Borrow Price" id="price" name="price" autocomplete="off" required>
                                    <label for="price" class="form__label"> Borrow Price </label>
                                </div>

                                <div class="form__group">
                                    <select class="form__field" id="staffmem" name="staffmem" required >
                                        <option value="">Managed By</option>
                                    </select>
                                    <label for="staffmem" class="form__label"> Managed By </label>
                                </div>  
                            </div>

                            <div class="all_btn-container" style="display: flex; justify-content: center;">
                                <div class="modal-input-group" 
                                style="margin-left: 20px;">
                                    <input type="file" id="imageInput" required style="font-family: 'Comfortaa', cursive; display: block;" >
                                    <button class="upload_btn" id="successimage" type="button" onclick="uploadImage()">Upload Image</button>
                                </div>
                                <div class="modal-input-group" style="margin-left: 20px;">
                                    <div>
                                        <input type="file" id="pdfInput" required style="font-family: 'Comfortaa', cursive; display: block;">
                                        <button class="upload_btn" id="successpdf" type="button" onclick="uploadFile()" style="margin-left: 8px;">Upload File</button>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="add_now_btn-container">
                                <button id="add_now_btn">
                                    <span>Add Now</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>

    <!--UPDATE EBOOK MODAL-->
    <div class="modal" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content" style="border-radius: 30px;">
                <div class="modal-header">
                    <h2 class="modal-title" id="ModalTitle">UPDATE EBOOK</h2>
                </div>
                <div class="modal-body">
                    <div class="modal_form-content-container">

                        <form action="/updateebook" method="post">
                            <input type="hidden" name="isbn" id="isbn_book">
                            <div style="display: flex; justify-content: center;">
                                <div class="modal-input-group" style="margin-bottom: 10px;">
                                    <Label style="display: block; margin-bottom: 5px; color: #9b9b9b;">Borrow Price</Label>
                                    <input id="priceupdate" name="price" class="form__field" type="number"
                                        placeholder="Price in Rupees" required>
                                </div>
                            </div>

                            <div class="add_now_btn-container">
                                <button id="add_now_btn">
                                    <span>Update Now</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    function delete_record(obj, isbn, title, publisher_id) {
        var req = new XMLHttpRequest();
        req.open("GET", "/delete-ebookrecord?isbn=" + isbn + "&title=" + title + "&publisher_id=" + publisher_id, true);
        req.send()
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                  
                if (req.responseText){
                    alert(req.responseText + 'is removed from the database')
                    obj.parentElement.parentElement.remove();}
                else{alert('You cannot delete a book which is borrowed by some users, this would result in data loss')

            }
            }
        }

    }
    function add_record() {
        var req = new XMLHttpRequest();
        req.open("GET", "/addebook");
        req.send();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                const options = JSON.parse(req.responseText);

                var selectElement = document.getElementById("staffmem");

                selectElement.innerHTML = "";

                var defaultOption = document.createElement("option");
                defaultOption.value = "";
                defaultOption.textContent = "Managed by";
                defaultOption.disabled = true;
                defaultOption.selected = true;
                selectElement.appendChild(defaultOption);


                options.forEach(function (option) {
                    var optionElement = document.createElement("option");
                    optionElement.value = option.staff_id;
                    optionElement.textContent = option.staff_id;
                    selectElement.appendChild(optionElement);
                });

                selectElement.required = true;
            }
        };
    }
    function update_record(obj, isbn) {
        var req = new XMLHttpRequest();

        req.open("GET", "/updateebook?isbn=" + isbn, true);
        req.send()
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                const obj = JSON.parse(req.responseText);
                document.getElementById('isbn_book').value = obj[0].isbn;
                document.getElementById('priceupdate').value = obj[0].price;
            }
        }

    }
    function searching() {
        document.querySelectorAll(".records").forEach(function (xyz) {
            xyz.remove();
        })

        const table = document.getElementsByTagName('table')[0];

        const title = document.getElementById('title').value
        const author = document.getElementById('author').value
        const category = document.getElementById('category').value

        const req = new XMLHttpRequest();
        req.open('GET', '/searchingebook?title=' + title + '&author=' + author + '&category=' + category);
        req.send();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                const obj = JSON.parse(req.responseText);
                if (obj.length > 0) {
                    for (let i = 0; i < obj.length; i++) {


                        table.innerHTML += "<tr class='records'><td>" + obj[i]['isbn'] + "</td><td>" + obj[i]['title'] + "</td><td>" + obj[i]['author'] + "</td><td>" + obj[i]['category'] + "</td><td>" + obj[i]['price'] + "</td><td>" + obj[i]['publisher_id'] + "</td><td>" + obj[i]['publisher'] + "</td><td>" + obj[i]['year'] + "</td><td>" + obj[i]['file_size'] + "</td><td>" + obj[i]['file_format'] + "</td><td><a id='update_delete-links' data-bs-toggle='modal'  data-bs-target='#updateModal' onclick=\"update_record(this, '" + obj[i]['isbn'] + "')\">Update</a></td><td><a id='update_delete-links' onclick=\"delete_record(this, '" + obj[i]['isbn'] + "', '" + obj[i]['title'] + "','" + obj[i]['publisher_id'] + "')\">Delete</a></td></tr>";


                    }
                }
                else {
                    table.innerHTML += "<tr class='records'><td colspan='11'  style='text-align: center;' >Data not found</td></tr>"
                }
            }
        }
        return false;
    }

    function uploadImage() {
        const isbn = document.getElementById('isbn').value;
        const input = document.getElementById('imageInput');
        const file = input.files[0];

        const formData = new FormData();
        formData.append('isbn', isbn);
        formData.append('image', file);

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload?isbn=' + isbn + '&type=ebook');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const image = document.getElementById('successimage');
                    image.innerText = 'Image uploaded successfully'
                    // alert('Image uploaded successfully!');
                }
                else if (xhr.status == 400) {
                    alert('Select a image')
                }
                else {
                    const image = document.getElementById('successimage');
                    image.innerText = 'Error in uploading image'
                }
            }
        };
        xhr.send(formData);
    }
    function uploadFile() {
        const isbn = document.getElementById('isbn').value;
        const format = document.getElementById('fileformat').value;
        
        const input = document.getElementById('pdfInput');
        const fileSize = input.files[0].size;
        document.getElementById('filesize').value = fileSize/1000000;

        const file = input.files[0];

        const formData = new FormData();
        formData.append('isbn', isbn);
        formData.append('file', file);
        formData.append('format', format);

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/uploadpdf?isbn=' + isbn + '&format='+format) ;
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const pdf = document.getElementById('successpdf');
                    pdf.innerText = 'File uploaded successfully'
                    // alert('Image uploaded successfully!');
                }
                else if (xhr.status == 400) {
                    alert('Select a pdf')
                }
                else {
                    const image = document.getElementById('successpdf');
                    image.innerText = 'Error in uploading pdf'
                }
            }
        };
        xhr.send(formData);
    }


</script>