<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Records</title>
    <!--CSS STYLESHEET-->
    <link rel="stylesheet" href="/css/admin_user-records.css"> 
   
    <!--ION ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <div class="header-hero-container">

        <div class="employee_name-container" style="display: flex; justify-content: flex-start;">
            <h5 id="record_manager_heading"
            style="color: white; margin-left: 20px; background-color: #f1f6f9; width: fit-content; padding: 15px 20px;
            position: absolute; top: 40px; color: #13005a; font-weight: 900; 
            font-family: 'Comfortaa', cursive; font-size: 1rem; border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <%- data[0].name %> (<%- data[0].staff_id%>)</h5>
        </div>

        <a href="/logout"><button type="button" id="navbar-logout-btn"><span>Logout</span>
            <img src="/images/logout.png" alt="" id="nav-logout-icon">
        </button></a>



        <div class="admin_user-record-heading-container">
            <h1 id="admin_user-records-main-heading">USER RECORDS</h1>
        </div>
        <div style="display: flex; justify-content: center;">
            <hr style="width: 10%; margin: auto; margin-top: 10px; border: 2px solid #9BA4B5; border-radius: 30px; opacity: 1;">
        </div>
        
        <form onsubmit="return searching()">
            <div class="search_field-main-container">        
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="name" id='name' class="search_form-input-field" placeholder="Search by Name" autocomplete="off">
                </div>
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="isbn" id='isbn' class="search_form-input-field" placeholder="Search by Book ISBN" autocomplete="off">
                </div>
                <div class="each_search_field-container">
                    <img class="search-icon" src="/images/search.png" alt="">
                    <input type="search" name="user_id" id='user_id' class="search_form-input-field" placeholder="Search by UserID" autocomplete="off">
                </div>
            </div>
            <div class="search_btn-container">        
                <input type="submit" value="Search" class="search_btn">
            </div>
        </form>
    </div>

    <div class="user_table-container" style="display: flex; justify-content: center; margin-top: 30px;">
        <table width="95%" style="border-collapse: collapse;">
            <tr style="background: linear-gradient(89deg, rgb(27, 8, 237) 0.1%, rgb(15, 27, 123) 51.5%, rgb(47, 30, 238)100.2%); transition: none; 
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
                <th>User ID</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Residential Address</th>
                <th>Telephone No.</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Category</th>
                <th>Book Type</th>
                <th>Price</th>
                <th>Issue Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
            </tr>
            <% if(records.length> 0 ){ %>
                <% for(var i=0; i < records.length;i++){ %>
                    <tr class="records" class="records" style="transition: 0.3s all ease-in-out;">
                        <td><%- records[i].user_id%></td>
                        <td><%- records[i].name%></td>
                        <td><%- records[i].email%></td>
                        <td><%- records[i].address%></td>
                        
                        <td><%- records[i].telno%></td>

                        <td><%- records[i].isbn%></td>
                        <td><%- records[i].title%></td>
                        <td><%- records[i].category%></td>
                        <td><%- records[i].booktype%></td>
                        <td><%- records[i].price%></td>
                        <td><%- records[i].issue_date%></td>
                        <td><%- records[i].due_date%></td>
                        <% if(records[i].return_date !=null ){ %>
                            <td><%- records[i].return_date%></td>
                        </tr>
                        <%}else{ %>
                          <td >Not returned</td></tr>
                          <% } %>
                        
                    </tr>
                    <%}%>
                        <%}else{ %>
                            <tr class="records" class="records" style="transition: 0.3s all ease-in-out;">
                                <td colspan="13">Data not found</td>
                            </tr>
                            <% } %>
        </table>
    </div>
</body>

</html>

<script>
        function searching() {
    document.querySelectorAll(".records").forEach(function (xyz) {
      xyz.remove();
    })

    const table = document.getElementsByTagName('table')[0];

    const name = document.getElementById('name').value
    const isbn= document.getElementById('isbn').value
    const user_id = document.getElementById('user_id').value

    const req = new XMLHttpRequest();
    req.open('GET', '/searchingrecords?isbn=' + isbn + '&name=' + name + '&user_id=' + user_id);
    req.send();
    req.onreadystatechange = function () {
      if (req.readyState == 4 && req.status == 200) {
        console.log(req.responseText)
        const obj = JSON.parse(req.responseText);
        console.log("obj",obj)
        if (obj.length > 0) {
          for (let i = 0; i < obj.length; i++) {
            if (obj[i].return_date == null) {


              table.innerHTML += "<tr class='records'><td>" + obj[i]['user_id'] + "</td><td>" + obj[i]['name'] + "</td><td>" + obj[i]['email'] + "</td><td>" + obj[i]['address'] + "</td><td>" + obj[i]['telno'] + "</td><td>" + obj[i]['isbn'] + "</td><td>" + obj[i]['title'] + "</td><td>" + obj[i]['category'] + "</td><td>" + obj[i]['booktype'] + "</td><td>" + obj[i]['price'] + "</td><td>" + obj[i]['issue_date'] + "</td><td>" + obj[i]['due_date'] + "</td><td>" + 'Not returned' + "</td></tr>"

            }

            else{
                table.innerHTML += "<tr class='records'><td>" + obj[i]['user_id'] + "</td><td>" + obj[i]['name'] + "</td><td>" + obj[i]['email'] + "</td><td>" + obj[i]['address'] + "</td><td>" + obj[i]['telno'] + "</td><td>" + obj[i]['isbn'] + "</td><td>" + obj[i]['title'] + "</td><td>" + obj[i]['category'] + "</td><td>" + obj[i]['booktype'] + "</td><td>" + obj[i]['price'] + "</td><td>" + obj[i]['issue_date'] + "</td><td>" + obj[i]['due_date'] + "</td><td>" + obj[i]['return_date'] + "</td></tr>"

            }
          }
        }
        else {
          table.innerHTML += "<tr class='records'><td colspan='13'  style='text-align: center;' >Data not found</td></tr>"
        }
      }
    }
    return false;
  }

//     function searching() {
//     document.querySelectorAll(".records").forEach(function (xyz) {
//         xyz.remove();
//     });

//     const table = document.getElementsByTagName('table')[0];
//     const name = document.getElementById('name').value;
//     const address = document.getElementById('address').value;
//     const email = document.getElementById('email').value;

//     const req = new XMLHttpRequest();
//     req.open('GET', '/searching?name=' + name + '&address=' + address + '&email=' + email);
//     req.send();
//     req.onreadystatechange = function () {
//         if (req.readyState == 4 && req.status == 200) {
//             const obj = JSON.parse(req.responseText);
//             if (obj.length > 0) {
//                 for (let i = 0; i < obj.length; i++) {
//                     const userID = obj[i]['UserID'];
//                     const contact = obj[i]['Contact'];
//                     const name = obj[i]['Name'];
//                     const email = obj[i]['Email'];
//                     const address = obj[i]['Address'];
//                     const nextContact = obj[i + 1] ? obj[i + 1]['Contact'] : 'Not Available';

//                     let contactHTML = '';
//                     if (contact && nextContact) {
//                         contactHTML = contact + ', ' + nextContact;
    
//                     } else if (contact) {
//                         contactHTML = contact;
//                     }

//                     table.innerHTML += "<tr class='records'><td>" + userID + "</td><td>" + name + "</td><td>" + email + "</td><td>" + address + "</td><td>" + contactHTML + "</td></tr>";
//                 }
//             } else {
//                 table.innerHTML += "<tr class='records'><td colspan='5' style='text-align: center;'>Data not found</td></tr>";
//             }
//         }
//     };

//     return false;
// }

    // function searching() {


    //     document.querySelectorAll(".records").forEach(function (xyz) {
    //         xyz.remove();
    //     })

    //     const table = document.getElementsByTagName('table')[0];

    //     const name = document.getElementById('name').value
    //     const address = document.getElementById('address').value
    //     const email = document.getElementById('email').value

    //     const req = new XMLHttpRequest();
    //     req.open('GET', '/searching?name=' + name + '&address=' + address + '&email=' + email);
    //     req.send();
    //     req.onreadystatechange = function () {
    //         if (req.readyState == 4 && req.status == 200) {
    //             const obj = JSON.parse(req.responseText);
    //             if (obj.length > 0) {
    //                 for (let i = 0; i < obj.length; i++) {console.log(obj[i])
    //                     table.innerHTML += "<tr class='records'><td>" + obj[i]['UserID'] + "</td><td>" + obj[i]['Name'] + "</td><td>" + obj[i]['Email'] + "</td><td>" + obj[i]['Address'] + "</td><td>" + obj[i]['Contact'] + "</td></tr>"
    //                 }
    //             }
    //             else {
    //                 table.innerHTML += "<tr class='records'><td colspan='5'  style='text-align: center;' >Data not found</td></tr>"
    //             }
    //         }
    //     }

    //     return false;
    // }
</script>